@font-face {
  font-family: "MrDafoe-Regular";
  src: url("./MrDafoe-Regular/MrDafoe-Regular.ttf") format("truetype");
}

@keyframes lovecraftTilt {
  0%   { transform: rotateX(5deg); }
  50%  { transform: rotateX(55deg); }
  100% { transform: rotateX(5deg); }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(180, 67, 63);
  }
}

body {background-color: rgb(5, 49, 32);}

.img {vertical-align: baseline; width:340px; height:400px; margin-left: 50px;}

.clear {clear:both;}

.ul {list-style-type: circle;}

.div {color: aquamarine; background-color: rgb(7, 85, 55); font-weight: bold;}
.div1 {font-size: 20px;}
.div2 {margin-top: 100px; margin-bottom: 200px;}

li:nth-child(1) {
	color: red;
}

ol > li {
  color: limegreen
}

ul ~ li {
  color: limegreen
}

li:nth-of-type(3){
	color: red;
}

img {float: right;}

a:active {background-color: red;}

button {
	font-size: 15px;
	background-color: white;
	transition: background-color 1s, font-size 1s;
}

button:hover {
	background-color: red;
	font-size: 25px;
}

input:focus {
	background-color: darkred;
}

p {color: rgba(0, 255, 234, 0.726);}

p.ex1 {display: none;}

span {font-weight:bold;
	  color:mediumseagreen; 
	  font-style: italic; 
	  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	 }


h1 {
	font-size: 70px;
	line-height: 10px;
	padding: 70px;
	width: 600px;
	font-family: "MrDafoe-Regular";
	font-weight: lighter;
	transition: transform 1s;
	perspective: 1000px;
}

h1:hover {
	transform-style: preserve-3d;
    animation: lovecraftTilt 2.5s ease-in-out infinite alternate;
}

h3 {
	line-height: 30px;
	padding: 20px;
	width: 300px;
}

h2, form {
	font-size: 30px;
	line-height: 30px;
	padding: 20px;
	width: 300px;
}

p  {	
	font-size: 50px;
	line-height: 50px;
	padding: 55px;
	width: 500px;
} 

p1, a {	
	line-height: 30px;
	padding: 20px;
	width: 300px;
}

ol, ul {
	font-size: 30px;
	line-height: 50px;
	letter-spacing: 0.1cm;
	padding: 55px;
	width: 500px;
	font-style: italic;
}

#Lovecraft {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
  transition: background-color 1s, color 1s;
}

#Lovecraft:hover {
	background-color: red;
	color: aquamarine;
}

table, th, td {
	margin-left: 70;
	margin-right: 70;
    border:20px solid rgb(7, 85, 55);
    color: aquamarine;
	font-size: 50px;
	line-height: 50px;
	padding: 30px;
	width: 100px;
	height:100px;
	font-weight: bold;
	border-collapse: separate;
	border-radius: 100px;
}
